# from CC
click==8.1.7
cloudpickle==3.0.0
dask==2023.2.1
fsspec==2024.3.1
locket==1.0.0
numpy==1.24.2
pandas==1.5.3
partd==1.4.1
PyYAML==6.0
toolz==0.12.1

# add locally
distributed==2023.2.1
pyarrow==7.0.0
fastparquet==0.8.0
pyreadr==0.5.0
geopandas==0.13.2
dask_jobqueue==0.8.5
scipy==1.10.1
